.page-header__wrapper {
  background-image: url("../img/header-background-desktop\ 1.jpg");
  width: 1220px;
  margin: 0 auto;
}

.site-list__item a {
  .font-family(Oswald);
  .font-size(20px;20px);
  text-transform: uppercase;
}
