.page-header__backgroun-color {
  background-color: @color-green-rgba;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.page-header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 709px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.site-list__item a {
  .font-family(Oswald);
  .font-size(20px;20px);
  text-transform: uppercase;
}

.page-header__menu-up {

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    height: 155px;
  }
}

.main-nav {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 3;
}

.main-nav--nojs {
  position: static;
}

.site-list {
  @media (min-width: @tablet-width) {
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 749px;
  }
}

.page-header__toggle-main {
  position: relative;
  width: 66px;
  height: 54px;
  z-index: 2;
  border: none;
  cursor: pointer;
  background-color: @color-white;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__toggle-main--closed::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 23px;
  width: 24px;
  height: 2px;
  background-color: black;
  box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
}

.main-nav--closed {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.page-header__toggle-main--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 23px;
    width: 24px;
    height: 2px;
    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-list a {
  display: block;
  position: relative;
  padding-bottom: 24px;
  padding-top: 22px;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border-top: 1px solid#E6E6E6;
  text-align: center;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 33px;
}

.page-header__logo {
  padding: 22px 0 24px;
}

.feed-slogan__title {
  .font-size(36px; 36px);
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  padding-top: 27px;
}

.page-header__containe-background-image {
  background-image: url("../img/cat_background_mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.feed-slogan__p {
  .font-family(Oswald);
  .font-size(14px; 14px);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.feed-slogan__img {
  width: 295px;
  height: 270px;
  margin: 0 auto;
  display: block;
}

.feed-slogan__container {
  background-color: @color-green-rgba;
  height: 302px;
}

.feed-slogan__button {
  display: flex;
  background-color: @color-green;
  height: 40px;
  width: 280px;
  margin: 149px auto 0;
  align-items: center;
  justify-content: center;
  .font-family(Oswald);
  .font-size(14px; 18px);
  text-transform: uppercase;
}

.feed-slogan {
  height: 480px;
}
