.program-feed__wraper,
.additionally__list--wrapper,
.comments__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    /*width: 709px;*/
    padding: 0 69px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.feed-selection__wrapper {
  @media (min-width: @tablet-width) {
    .font-size(20px; 30px);
    padding: 0 69px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1220px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}

.feed-selection__wrapper * {
  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.feed-selection__slogan,
.feed-selection__object,
.feed-selection__selector,
.data__set,
.comments__textarea,
.additionally__item,
.additionally__submite {
  .font-family(Oswald);
  text-transform: uppercase;
}

.feed-selection__object {
  padding: 0 20px;
  color: @special_dark-grey;

  input {
    color: @special_dark-grey;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.feed-selection__slogan {
  .font-size(14px; 18px);
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    .font-size(20px; 30px);
    margin-top: 54px;
    margin-bottom: 66px;
  }
}

.additionally__item {
  padding-bottom: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
  }
}

.additionally__list {
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
  }
}

.data__title,
.comments__title,
.additionally__title {
  .font-size(24px; 26px);

  @media (min-width: @tablet-width) {
    .font-size(36px; 36px);
  }
}

.comments__title {
  margin-top: -19px;
  background-color: @color-white;
  width: 170px;
  margin-bottom: 37px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 220px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    width: 18%;
  }
}

.additionally__wrapper-title,
.data__wrapper-title,
.comments__wrapper-title {
  @media (min-width: @tablet-width) {
    padding: 0 49px;
  }

  @media (min-width: @desktop-width) {
    width: 1258px;
    padding: 0;
    margin: 0 auto;
  }
}

.data__title {
  width: 221px;
  margin-top: -20px;
  background-color: @color-white;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 551px;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.additionally__title {
  margin-top: -17px;
  padding-left: 20px;
  background-color: @color-white;
  width: 180px;

  @media (min-width: @tablet-width) {
    width: 280px;
  }
}

.additionally {
  border-top: 2px solid @color-green;
  margin-top: 39px;
}

.additionally__span {
  .font-family(Arial);
  .font-size(16px; 16px);
  width: 187px;

  @media (min-width: @tablet-width) {
    margin-right: 20%;
  }

  @media (min-width: @desktop-width) {
    margin-right: 30%;
  }
}

.feed-selection {
  border-top: 1px solid @color-grey-stick;
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.feed-selection__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  align-items: center;

  input {
    height: 46px;
    text-transform: uppercase;
    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 29px;
  }
}

.feed-selection__label:last-child {
  margin-bottom: 27px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.feed-selection__input {
  border: 1px solid @color-grey-stick;
}

.form-input-age {
  width: 65%;
}

.form-input-mass {
  width: 74%;
}

.form-input-barsik {
  width: 81%;
}

.feed-selection__selector {
  display: flex;
  flex-direction: column;
  padding: 32px 20px 15px;
  border-top: 1px solid @color-grey-stick;
  border-bottom: 1px solid @color-grey-stick;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
    border: 1px solid @color-grey-stick;
    margin-top: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.data {
  border-top: 2px solid @color-green;
  margin-top: 44px;

  @media (min-width: @tablet-width) {
    margin-top: 95px;
  }
}

.data__set {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 35px;
  margin-bottom: 23px;
  color: @special_dark-grey;

  input {
    color: @special_dark-grey;
  }

  @media (min-width: @tablet-width) {
    .font-size(20px; 30px);
    margin-top: 76px;
    padding: 0 71px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 76px auto 65px;
    width: 1220px;
    padding: 0;
  }
}

.data__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  position: relative;

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.data__label:first-child .data__input {
  width: 80%;
  height: 45px;
  text-transform: uppercase;
  padding-left: 15px;
  border: 1px solid @color-grey-stick;
}

.data__label:last-child .data__input {
  width: 75%;
  height: 45px;
  text-transform: uppercase;
  padding-left: 15px;
  border: 1px solid @color-grey-stick;
}

.data__label:first-child .email {
  width: 20px;
  height: 14px;
  fill: white;
  stroke: black;
}

.data__label:first-child:hover .email {
  stroke: @color-green;
}

.data__label:last-child:hover .phone {
  fill: @color-green;
}

.email {
  position: absolute;
  right: 10px;
  top: 16px;
  background-repeat: no-repeat;
}

.phone {
  position: absolute;
  right: 10px;
  top: 14px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.comments__textarea {
  width: 100%;
  resize: none;
  border: 1px solid @color-grey-stick;
  padding: 9px 15px;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 174px;
  }
}

.comments__textarea::placeholder {
  width: 253px;
  color: @special_dark-grey;
}

.additionally__submite {
  display: block;
  width: 100%;
  background-color: @color-green;
  border: none;
  color: @color-white;
  height: 40px;
  margin-bottom: 21px;
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    width: 282px;
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.additionally__submite:hover {
  background-color: @color-green-hober;
}

.additionally__submite:active {
  color: rgba(248, 248, 248, 0.3);
}

.feed-selection__title {
  .font-size(36px; 36px);
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    .font-size(60px; 60px);
  }
}

.feed-selection__check-box + .feed-selection__selector-label {
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

.feed-selection__selector-item {
  margin-bottom: 19px;
}

.feed-selection__check-box + .feed-selection__selector-label::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid @color-grey-stick;
  left: 0;
  top: -4px;

  @media (min-width: @tablet-width) {
    left: 0;
    top: -1px;
  }
}

.feed-selection__check-box:checked + .feed-selection__selector-label::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  background-color: @color-green;
  top: 4px;
  left: 8px;

  @media (min-width: @tablet-width) {
    top: 7px;
    left: 8px;
  }
}

.feed-selection__selector-label:active {
  opacity: 0.3;
}

.comments {
  border-top: 2px solid @color-green;
}

.additionally__label {
  padding-left: 45px;
  padding-bottom: 20px;
  cursor: pointer;
}

.additionally__label::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  border: 1px solid @color-grey-stick;
  top: -5px;
}

.additionally__checkbox:checked + .additionally__label::after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 6px;
  background-image: url("../img/forms_icon/v.svg");
  background-repeat: no-repeat;
  top: 3px;
}

.additionally__label:active {
  opacity: 0.3;
}

.additionally__submite-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}
