.comments__title {
  margin-top: -19px;
  background-color: @color-white;
  width: 170px;
  margin-bottom: 37px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 220px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    width: 18%;
  }
}

.comments__textarea {
  width: 100%;
  resize: none;
  border: 1px solid @color-grey-stick;
  padding: 9px 15px;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 174px;
  }
}

.comments__textarea::placeholder {
  width: 253px;
  color: @special_dark-grey;
}

.comments {
  border-top: 2px solid @color-green;
}
