.shop__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 140px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 138px 80px;
  }
}

.shop__title {
  .font-size(36px; 36px);
  text-align: center;
  margin: 0;
  border-top: 1px solid @color-grey-stick;
  padding-top: 27px;
  padding-bottom: 40px;
  border-bottom: 1px solid @color-grey-stick;
  margin-left: -25px;

  @media (min-width: @tablet-width) {
    border: none;
    text-align: left;
    .font-size(60px; 60px);
    padding-top: 43px;
    padding-bottom: 176px;
    align-self: flex-start;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;
  }
}

.shop {
  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1221px;
    margin: 0 auto;
    padding: 0;
  }
}
