.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
