.example__wrapper {
  padding: 1px 20px;
  margin: 0 auto;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
  }
}

.example {
  background-color: @color-grey;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }
}

.example::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    top: 583px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: @color-grey;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 161px;
  }
}

.example::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    width: 32%;
    height: auto;
    top: 162px;
    bottom: 0;
    right: 0;
    background-color: @color-cats-grey;
  }
}

.example__number {
  .font-family(Oswald);
  .font-size(24px; 24px);
  display: inline-block;
  width: 124px;
  height: 64px;
  text-align: center;
  border: 1px solid#CDCDCD;
  padding-top: 12px;
  border-radius: 5px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 74px;
    .font-size(30px; 37px);
    padding-top: 14px;
  }
}

.example__container-span {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 365px;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-left: 10px;
  }
}

.example__number b {
  .font-family(Arial);
  .font-size(12px; 12px);
  display: flex;
  width: 80px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: @color-grey;
  text-transform: none;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    width: 127px;
    margin-left: 17px;
    justify-content: center;
    margin-top: 10px;
    .font-size(14px; 14px);
  }

  @media (min-width: @desktop-width) {
    background-color: @color-grey;
    margin-left: 16px;
    margin-top: 11px;
  }
}

.example__price {
  .font-family(Oswald);
  .font-size(14px; 20px);
  margin-top: 26px;
  margin-bottom: 42px;
  text-align: center;
  width: 259px;
  margin-left: 38px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-size(20px; 28px);
    width: 184px;
    margin: 0;
    text-align: right;
    padding-top: 6px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
    padding-top: 56px;
  }
}

.example__price span {
  padding-right: 54px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.example__images-cats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4px;

  @media (min-width: @tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -129px;
    margin-left: 120px;
  }
}

.example__image-tablet-desktop-1,
.example__image-tablet-desktop-2 {
  display: none;
  width: 354px;
  height: 607px;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    z-index: 1;
  }
}

.example__image-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__split-containers {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.example__title {
  .font-size(36px; 36px);
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 44px;
    margin-bottom: 64px;
    .font-size(60px; 60px);
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 26px;
    margin-left: 11px;
  }
}

.example__description {
  .font-size(14px; 18px);
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    .font-size(16px; 24px);
    margin-bottom: 55px;
    width: 700px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 146px;
    width: 437px;
    margin-bottom: 66px;
    margin-left: 10px;
  }
}

.example__range {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-left: 4px;

  @media (min-width: @tablet-width) {
    margin-top: -63px;
    margin-left: -2px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 167px;
    margin-top: -46px;
  }

  b {
    .font-family(Oswald);
    .font-size(16px; 20px);
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px dotted @color-grey-stick;

    @media (min-width: @tablet-width) {
      .font-size(20px; 30px);
    }
  }

  .example__range-controls {
    width: 198px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;

    @media (min-width: @tablet-width) {
      width: 568px;
      margin-bottom: 67px;
      z-index: 2;
    }
  }
}

.example__range b:hover {
  border-bottom: 1px solid @color-grey-stick;
}

.example__range b:active {
  border: none;
}

.example__range-toggle {
  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    position: absolute;
    background: @color-green;
    border-radius: 50%;
    border: 13px solid #ffffff;
    left: 46%;
    box-shadow: 0 1px 3px;
  }
}

.example__range-toggle:hover {
  box-shadow: 0 2px 4px;
}

.example__range-toggle:active {
  box-shadow: 0 0.5px 4px @color-green;
}

.example__range-scale {
  width: 84px;
  height: 14px;
  background-color: @color-white;
  border: 1px solid@color-rang-scale-dark-grey;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;

  @media (min-width: @tablet-width) {
    width: 428px;
    background-color: @color-rang-scale-dark-grey;
    height: 6px;
    justify-content: center;
    position: relative;
  }
}

.example__range-bar {
  width: 35px;
  height: 6px;
  background-color: @color-green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 0;
  }
}
